body {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;

}

.form-control-dark {
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
    font-size: 85%;
}

.dropdown-toggle:not(:focus) {
    outline: 0;
}

/* For screens wider than 992px */
@media (min-width: 992px) {
    .d-flex.justify-content-start h2 {
        margin-left: 20px;
    }
}

@media (max-width: 767px) {
    .col-md-3 img {
      margin-right: 10px;
    }
  
    .d-flex h2 {
      margin-left: 0;
    }
  }
  