header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    font-size: 1rem;
    margin-bottom: 30px;

}

.navbar-brand img {
    height: 2.5rem;
    width: auto;

}

.navbar-brand {
    font-weight: bolder;
    margin-right: 1.5rem;
}

.nav-link {
    margin-right: 0.5rem;
}




.d-flex {
    margin-right: 1rem;
}

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 1rem;

}

.content {
    z-index: 1;
}

.sidebar {
    margin-top: 1.5rem;
    padding: 0;
    width: 200px;
    background-color: rgb(34, 38, 42)11%, 15%;
    position: fixed;
    height: 100%;
    font-size: 1rem;
    overflow: auto;
    z-index: 1;
}

.sidebar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: .5rem 1rem;
    margin-top: .4rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    size: 2rem;

}


.sidebar a.active {
    background-color: rgb(11, 94, 215);
    color: white;
    border-radius: 0.375rem;
    padding: .5rem 1rem;
    margin-top: .4rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;

}

.sidebar a:hover:not(.active) {
    background-color: rgba(11, 93, 215, 0.445);
    color: rgb(255, 255, 255);
    border-radius: 0.375rem;
    padding: .5rem 1rem;
    margin-top: .4rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.dropdown {
    margin-top: .150rem;
}
.dropdown ul:hover {
    margin-top: 3.86rem;
    margin-right: 3.86rem;
    padding-right: 2rem;
    padding-left: 0rem;
}

.sidebar-hr {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.sidebar-user {
    padding-top: 0.2rem;
}


div.content {
    margin-left: 12.5rem;
    margin-top: 3.125rem;
    padding: 0.0625rem 1rem;
    height: 62.5rem;
}

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }
}

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
        height: auto;
    }
}